#navi-menu{
    width: 500px;
    height: 80px;
    background-color: #639e63;
    margin: 0 auto;
}
#navi-menu ul li{
    list-style-type: none;
    margin: 20px;
    float: left;
}
#navi-menu ul a{
    text-decoration: none;
    font-size: 25px;
    color: white;
    cursor: pointer;
}
#navi-menu ul li a:hover{
    text-decoration:underline;
}