<style>
header {
    /* background-color: brown; */
}

nav {
    /* background-color: cornflowerblue; */



}

ul {
    display: flex;
    /* background-color: yellow; */
    justify-content: center;
    font-size: 40px;

}

li {
    background-color: black;
    list-style-type: none;
    margin: 0 20px;

}

a {
    color: white;
    text-decoration: none;
    cursor: pointer;

}
</style>